:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-bg-color: #188ce8;
  --white-color: #ffffff;
  --light-bg-color: #f5f4fa;
  --items: 3;
  --indent: 30px;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.products, .clients, .team, .doing, .descr {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .products, .clients, .team, .doing, .descr {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.modal__container, .products__container, .footer__container, .clients__container, .team__container, .doing__container, .descr__container, .hero__container, .header__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .modal__container, .products__container, .footer__container, .clients__container, .team__container, .doing__container, .descr__container, .hero__container, .header__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .modal__container, .products__container, .footer__container, .clients__container, .team__container, .doing__container, .descr__container, .hero__container, .header__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__container, .products__container, .footer__container, .clients__container, .team__container, .doing__container, .descr__container, .hero__container, .header__container {
    width: 1200px;
  }
}

.doing__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

.products__link, .join__link, .address__phone, .address__mail, .footer__logo--white, .clients__link, .socials__link, .nav__link, .header__phone, .header__mail, .header__logo--black, .mobile__item, .agreement__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.products__list, .filter__list, .join__list, .address__list, .clients__list, .socials__list, .team__list, .doing__list, .descr__list, .nav__list, .header__contacts-list, .mobile__nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal__btn, .filter__btn, .subscribe__btn, .hero__btn, .menu__btn, .modal__btn--send {
  cursor: pointer;
  border: none;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
@media screen and (max-width: 1199px) {
  .logo {
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #000000;
  }
}

.register-form {
  text-align: center;
}

.register-form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .register-form__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.register-form__group {
  margin-bottom: 20px;
}

.register-form__wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.register-form__wrap:last-child {
  margin-bottom: 0;
}

.register-form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.register-form__input {
  padding: 12px 42px;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation), fill var(--animation);
  transition: border-color var(--animation), fill var(--animation);
}
@media screen and (max-width: 1199px) {
  .register-form__input:active {
    border-color: var(--accent-color);
  }
  .register-form__input:active + .register-form__icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .register-form__input:hover, .register-form__input:focus {
    border-color: var(--accent-color);
  }
  .register-form__input:hover + .register-form__icon, .register-form__input:focus + .register-form__icon {
    fill: var(--accent-color);
  }
}

.register-form__message {
  display: block;
  width: 100%;
  padding: 10px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
@media screen and (max-width: 1199px) {
  .register-form__message:active {
    border-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .register-form__message:hover, .register-form__message:focus {
    border-color: var(--accent-color);
  }
}
.register-form__message::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.register-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.agreement__mark {
  margin-right: 8px;
  margin-bottom: 2px;
}
.agreement__mark--check {
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.agreement__checkbox:checked + .agreement__mark .agreement__mark--uncheck {
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.agreement__checkbox:checked + .agreement__mark .agreement__mark--check {
  opacity: 1;
}

.agreement__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .agreement__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.agreement__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal__btn--send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  cursor: pointer;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
@media screen and (max-width: 1199px) {
  .modal__btn--send:active {
    background-color: var(--accent-bg-color);
  }
}
@media screen and (min-width: 1200px) {
  .modal__btn--send:hover, .modal__btn--send:focus {
    background-color: var(--accent-bg-color);
  }
}

.menu__btn {
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  color: var(--accent-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}
.menu__overlay .menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu__btn:active {
  fill: currentColor;
}

.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
}
@media screen and (min-width: 768px) {
  .menu__overlay {
    display: none;
  }
}
.menu__overlay.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}
.menu__overlay.is-open .menu__container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile__nav {
  margin-bottom: auto;
}

.mobile__item {
  margin-bottom: 32px;
}

.mobile-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-contacts__phone {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
}
.mobile-contacts__mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mobile-contacts__btn {
  margin-top: 24px;
}

.mobile__link:active {
  color: var(--accent-color);
}

.mobile__link,
.mobile-contacts__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-socilas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.mobile-socilas__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-socilas__item:not(:last-child) .mobile-socilas__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    height: 60px;
  }
}

.header__logo--inner {
  color: var(--accent-color);
}

.header__logo--black {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
@media screen and (max-width: 1199px) {
  .header__logo--black {
    margin-right: 88px;
  }
}

.header__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__contacts-list {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header__contacts-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__mail {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (max-width: 767px) {
  .header__mail {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header__mail {
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 21px;
  }
  .header__mail:active {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .header__mail {
    margin-right: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header__mail:hover, .header__mail:focus {
    color: var(--accent-color);
  }
}

.header__phone {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (max-width: 1199px) {
  .header__phone {
    padding-bottom: 21px;
    padding-top: 10px;
  }
  .header__phone:active {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .header__phone {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header__phone:hover, .header__phone:focus {
    color: var(--accent-color);
  }
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 1199px) {
  .header__icon--mail {
    width: 14px;
    height: 10px;
  }
}
@media screen and (max-width: 1199px) {
  .header__icon--phone {
    width: 10px;
    height: 14px;
  }
}

.nav {
  margin-right: auto;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (max-width: 1199px) {
  .nav__link:active {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .nav__link:hover, .nav__link:focus {
    color: var(--accent-color);
  }
}
.nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.hero {
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_bg@1x-sm.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_bg@1x-sm.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_bg@2x-sm.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_bg@2x-sm.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_bg@1x-md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_bg@1x-md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_bg@2x-md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_bg@2x-md.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_bg@1x-lg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_bg@1x-lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_bg@2x-lg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_bg@2x-lg.jpg);
  }
}

.hero__container {
  padding: 200px 0;
}

.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  padding: 10px 32px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
@media screen and (max-width: 1199px) {
  .hero__btn:active {
    background-color: var(--accent-bg-color);
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn:hover, .hero__btn:focus {
    background-color: var(--accent-bg-color);
  }
}

@media screen and (min-width: 1200px) {
  .descr {
    padding-bottom: 0;
  }
}

.descr__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .descr__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .descr__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.descr__item {
  -ms-flex-preferred-size: 226px;
      flex-basis: 226px;
}
@media screen and (min-width: 768px) {
  .descr__item {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .descr__item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
}

.descr__wrapper {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.descr__icon {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}

.descr__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .descr__title {
    text-align: center;
  }
}

.descr__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}

.doing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.doing__item {
  position: relative;
}

.doing__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--light-bg-color);
}

.team__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  --items: 1;
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
@media screen and (max-width: 767px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1199px) {
  .team__list {
    --items: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__item {
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__wrapper {
    padding-bottom: 30px;
  }
}

.team__subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__descr {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: background-color var(--animation), color var(--animation);
  transition: background-color var(--animation), color var(--animation);
}
@media screen and (max-width: 1199px) {
  .socials__link:active {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .socials__link:hover, .socials__link:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}

.socials__icon {
  fill: currentColor;
}

.clients__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  --items: 2;
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
@media screen and (min-width: 1200px) {
  .clients__list {
    --items: 6;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color var(--animation), outline var(--animation);
  transition: color var(--animation), outline var(--animation);
}
@media screen and (max-width: 1199px) {
  .clients__link:active {
    color: var(--accent-color);
    outline: 1px solid var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
  .clients__link:hover, .clients__link:focus {
    color: var(--accent-color);
    outline: 1px solid var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 15px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts {
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-left: 61px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
    margin-left: 0;
    text-align: left;
  }
}

.footer__logo--white {
  margin-bottom: 20px;
  color: var(--white-color);
  display: inline-block;
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address__descr {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .address__descr {
    margin-bottom: 9px;
  }
}

.address__mail {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (min-width: 768px) {
  .address__mail {
    margin-bottom: 9px;
  }
}
@media screen and (max-width: 1199px) {
  .address__mail:active {
    color: var(--white-color);
  }
}
@media screen and (min-width: 1200px) {
  .address__mail:hover, .address__mail:focus {
    color: var(--white-color);
  }
}

.address__phone {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (max-width: 1199px) {
  .address__phone:active {
    color: var(--white-color);
  }
}
@media screen and (min-width: 1200px) {
  .address__phone:hover, .address__phone:focus {
    color: var(--white-color);
  }
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .join {
    padding-top: 12px;
    margin-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    text-align: start;
    margin: 0;
  }
}

.join__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  border-radius: 50%;
  -webkit-transition: background-color var(--animation), color var(--animation);
  transition: background-color var(--animation), color var(--animation);
}
@media screen and (max-width: 1199px) {
  .join__link:active {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .join__link:hover, .join__link:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}

.join__icon {
  fill: currentColor;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .subscribe {
    padding-top: 60px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    padding-top: 12px;
    text-align: left;
    margin: 0;
    margin-left: auto;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .subscribe__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscribe__mail {
  display: block;
  padding: 15px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
@media screen and (min-width: 768px) {
  .subscribe__mail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .subscribe__mail:active {
    border-color: var(--white-color);
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__mail {
    width: 358px;
  }
  .subscribe__mail:hover, .subscribe__mail:focus {
    border-color: var(--white-color);
  }
}

.subscribe__btn {
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
@media screen and (max-width: 1199px) {
  .subscribe__btn {
    margin-top: 20px;
  }
  .subscribe__btn:active {
    background-color: var(--accent-bg-color);
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__btn:hover, .subscribe__btn:focus {
    background-color: var(--accent-bg-color);
  }
}

.subscribe__icon {
  margin-left: 10px;
  fill: currentColor;
}

.filter__list {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 56px;
  }
}

.filter__btn {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--light-bg-color);
  border-radius: 4px;
  -webkit-transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
@media screen and (max-width: 1199px) {
  .filter__btn:active {
    background-color: var(--accent-color);
    color: var(--white-color);
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
@media screen and (min-width: 1200px) {
  .filter__btn:hover, .filter__btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  --items: 1;
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__list {
    --items: 2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.products__item {
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
  outline: 1px solid #eee;
}
@media screen and (max-width: 1199px) {
  .products__item:active {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item {
    width: 354px;
  }
}
.products__item:active .products__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 1200px) {
  .products__item:hover, .products__item:focus {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .products__item:hover .products__overlay, .products__item:focus .products__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.products__card {
  position: relative;
  overflow: hidden;
}

.products__overlay {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.products__overlay--inner {
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.products__wrapper {
  padding: 20px 24px;
  border-top: none;
}

.products__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.products__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.backdrop {
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;
  pointer-events: initial;
  z-index: 1000;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
  width: 450px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__container {
  padding: 40px;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
@media screen and (max-width: 1199px) {
  .modal__btn:active {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .modal__btn:hover, .modal__btn:focus {
    fill: var(--accent-color);
  }
}/*# sourceMappingURL=main.css.map */