.clients {
    @extend %section;
}

.clients__title {
    @include fonts(28px, 33px, 700, 0.03em);
    margin-bottom: 30px;
    text-align: center;

    @media screen and (min-width: 1200px) {
        @include fonts(36px, 42px, 700, 0.03em);
        margin-bottom: 50px;
    }
}

.clients__container {
    @extend %container;
}

.clients__list {
    @extend %reset-list;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    --items: 2;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));

    @media screen and (min-width: 1200px) {
        --items: 6;
        flex-wrap: nowrap;
    }
}

.clients__link {
    @extend %reset-link;
    
    display: flex;
    width: 210px;
    height: 92px;

    justify-content: center;
    align-items: center;
    outline: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;

    transition: color var(--animation), outline var(--animation);

    @media screen and (max-width: 1199px) {
        &:active {
            color: var(--accent-color);
            outline: 1px solid var(--accent-color);
        }
    }

    @media screen and (min-width: 1200px) {
        width: 170px;

        &:hover,
        &:focus {
            color: var(--accent-color);
            outline: 1px solid var(--accent-color);
        }
    }
}

.clients__icon {
    fill: currentColor;
}