.team {
    background-color: var(--light-bg-color);
    @extend %section;
}

.team__title {
    @extend %title--fz36;
}

.team__container {
    @extend %container;
}

.team__list {
    @extend %reset-list;

    display: flex;
    gap: 30px;
    --items: 4;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.team__item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__subtitle {
    margin-bottom: 10px;
    
    // font-weight: 500;
    // font-size: 16px;
    // line-height: calc(19 / 16);
    // letter-spacing: 0.03em;
    @include fonts(16px, 19px, 500, 0.03em);
    text-align: center;
    
}

.team__descr {
    margin-bottom: 16px;
    
    // font-size: 16px;
    // line-height: calc(19 / 16);
    // letter-spacing: 0.03em;
    @include fonts(16px, 19px, 400, 0.03em);
    text-align: center;
    color: var(--secondary-text-color);
}


.socials__list {
    @extend %reset-list;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials__link {
    @extend %reset-link;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    color: #afb1b8;
    border-radius: 50%;

    transition: background-color var(--animation), color var(--animation);

    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--accent-color);
    }
}

.socials__icon {
    fill: currentColor;
}